extends layout
block content
    .row.mt-2
        form#formSearch.col(action="/" method="get")
            #inputGroupAuthors
            div(class="input-group mb-0")
                input(type="text" class="form-control" autocomplete="off" placeholder="书名/作者/ISBN" name="s_text")
                div.input-group-append
                    input#btn_apply(class="btn btn-success" type="submit" value="搜索")
                    a(class="btn btn-primary" data-toggle="collapse" href="#collapseTags" role="button" aria-expanded="false" aria-controls="collapseExample") 筛选
            .container
                div.row(class="collapse" id="collapseTags")
                    div.tags_container.col.p-0.mt-2(class="card card-body")
                        label.ml-1.mt-1(style="margin:0;font-size:10pt") 作者
                            .d-flex
                                #selectedAuthors_f.flex-grow-1
                                    //- span.badge.badge-info.mr-1 Richard
                                    //- span.badge.badge-info.mr-1 text
                                    //- span.badge.badge-info.mr-1 text
                                .dropdown
                                    .input-group(style="width:auto")
                                        input#inputSearchAuthor_f(type="search" autocomplete="off" placeholder="Pick Authuor")
                                        .input-group-append
                                            button#btnAddAuthor_f.btn.btn-outline-secondary(type="button" style="padding:0 7px;")
                                                i.fas.fa-plus-square
                                    .dropdown-content#dropdownAuthorHint_f
                        label.ml-1.mt-1(for="tags_group" style="margin:0;font-size:10pt") Tags
                            button.btn.badge.badge-primary(type="button" data-toggle="modal" data-target="#newtagModal") +
                        hr.m-2
                        div(style="flex-direction:row; flex-wrap:wrap;")
                            each tag in tags
                                button.tag.tagInFilter.btn.badge.badge-pill.badge-primary(type="button" data-toggle="button" id="tag_"+tag.tid)= tag.name
    hr
    nav.row.justify-content-center
            ul.pagination
                li.page-item
                    a.page-link(href=data.first)
                        span «
                each page in data.pages
                    li.page-item
                        a.page-link(href=page.link)= page.pno
                li.page-item
                    a.page-link(onclick=data.oclk)  
                        span ...
                li.page-item
                    a.page-link(href=data.last)
                        span »
    .row

        each book in data.books
            div.col-3.col-md-2.m-1.p-0.book(class="card" style="width: 10rem;")
                if book.cover
                    img(src=book.cover class="card-img-top cover" alt="...")
                else
                    img(src="/images/default_cover.png" class="card-img-top cover" alt="default cover")
                div.p-0(class="card-body" style="display: flex;flex-direction: column;justify-content: space-between;")
                    h5(class="card-title" style="font-size: small;")= book.title
                    // Button trigger modal
                    button.p-1.btn.btn-primary(type="button" data-toggle="modal" data-target="#book_"+book.bid style="width: 50%;margin:0 auto;") Detial
                    // Modal
                    .modal.fade(id="book_"+book.bid tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" )
                        .modal-dialog.modal-lg.modal-dialog-centered(role="document" style="width:80%;")
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title !{book.title}
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") ×
                                .modal-body.container-fluid
                                    .detail.row(style="display:flex;")
                                        .main-image.col-12.col-sm-6.col-xl-3
                                            .main-cover
                                                if book.cover
                                                    img(src=book.cover alt="...")
                                                else
                                                    img(src="/images/default_cover.png" alt="default cover")
                                                if user && (user.class === 'admin' || user.class === 'god')
                                                    form.formCover(id='formCover_'+book.bid)
                                                        .input-group.mb-3
                                                            
                                                            input(type="file" name="cover" accept="image/png;image/jpg")
                                                            .input-group-append
                                                                input(type="submit" value="update").input-group-text
                                            .main-tag
                                        .main-info.col-12.col-sm-6.col-xl-9
                                            .card.card-body
                                                p(style="font-size: small;")= book.intro
                                
                                    form(id="bookInfoForm_"+book.bid encType="multipart/form-data" method="post" name="bookinfo")
                                        .form-group
                                            label.ml-1.mt-1(for="tags_group" style="margin:0;font-size:10pt") Tags
                                                button.btn.badge.badge-primary(type="button" data-toggle="collapse" data-target="#allTagsInBookinfo"+book.bid) +
                                            
                                            hr.m-2
                                            .collapse(id="allTagsInBookinfo"+book.bid)
                                                .card.card-body.p-0(style="flex-direction:row; flex-wrap:wrap;")
                                                    each tag in tags
                                                        button.tag.btn.badge.badge-pill.badge-secondary(type="button" id=book.bid+"_tag_"+tag.tid onclick="add_tag_to_book(this)")= tag.name
                                            div.book_tags_container(style="flex-direction:row; flex-wrap:wrap;")
                                            label.ml-1.mt-1(for="tags_group" style="margin:0;font-size:10pt") 作者
                                            div.book_authors_container(style="flex-direction:row; flex-wrap:wrap;")
                                                //- button.tag.btn.badge.badge-pill.badge-primary(type="button" data-toggle="button" id="tag_"+tag.tid)= tag.name

                                        .form-group
                                            label(for="titleInput") 标题
                                            .input-group
                                                input.form-control(id='title_'+book.bid autocomplete="off" type="text" name="title" disabled value=(undefined===book.title ? '' :  book.title))
                                                .input-group-append
                                                    //- input(type='checkbox')
                                                    button.btn-primary.edit_checkbox.btn(type="button")
                                                        i.fas.fa-edit
                                        .form-group
                                            label(for="isbnInput") ISBN
                                            .input-group
                                                input.isbnInput.form-control(id='isbn_'+book.bid autocomplete="off" type="text" name="isbn" disabled value=(undefined===book.isbn ? '' :  book.isbn))
                                                .input-group-append
                                                    button.btn-primary.edit_checkbox.btn(type="button")
                                                        i.fas.fa-edit
                                        .form-group
                                            label(for="yearInput") 出版年
                                            .input-group
                                                input.yearInput.form-control(id='year_'+book.bid type="number" name="year" disabled value=(undefined===book.year ? '' :  book.year))
                                                .input-group-append
                                                    button.btn-primary.edit_checkbox.btn(type="button")
                                                        i.fas.fa-edit
                                        .form-group
                                            label(for="pagesInput") 页数
                                            .input-group
                                                input.pagesInput.form-control(id='page_'+book.bid type="number" name="page" disabled value=(undefined===book.page ? '' :  book.page))
                                                .input-group-append
                                                    button.btn-primary.edit_checkbox.btn(type="button")
                                                        div
                                                            i.fas.fa-edit
                                        .form-group
                                            label(for="remInput") 剩余
                                            .input-group
                                                input.remInput.form-control(id='rem_'+book.bid type="number" name="rem" disabled value=(undefined===book.rem ? '' :  book.rem))
                                                .input-group-append
                                                    button.btn-primary.edit_checkbox.btn(type="button")
                                                        i.fas.fa-edit
                                .modal-footer
                                    button.btn.btn-secondary.btn-borrow(type="button") Borrow
                                    if user && user.class === 'admin'
                                        button.btn.btn-secondary.btn-delbook(type="button") Delete



    #newtagModal.modal.fade(tabindex="-1" role="dialog")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5#newtagModalLabel.modal-title new tag
                    button.close(type="button" data-dismiss="modal")
                        span ×
                .modal-body
                    form#newtagForm(action="/tag/new" encType="multipart/form-data" method="post" name="newtag")
                        .form-group
                            label(for="tagnameControlInput") tag name
                            input#tagnameControlInput.form-control(required autocomplete="off" type="text" name="name")
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#newtagSubmit.btn.btn-primary(type="submit" form="newtagForm") 提交
    script(src="/javascripts/index.js")